p{
    color: green;
}

h1{
    color: red;
}

main{
    background: mediumpurple;
}

body{
    background: black;
}

p{
    color: black;
}

h1{
    color: peru;
}

main{
    background: paleturquoise;
}

body{
    background: lightsalmon;
}